.nsp-notification {
    .notification-container {
        position: fixed;
        z-index: 10002;
    }
    .k-notification {
        border-color: red;
        margin-top: 3px;
        text-decoration: none !important;
        font-size: 14px;
        font-weight: normal;
        padding: 5px;
        margin: 0 0 5px;
        width: 262px;
        background-color: #e5f5fa;
        color: #0487c4;
        border-color: #b7e1f0;
        font-family: "Segoe UI", Verdana, Helvetica, sans-serif;
    }
    .k-notification-info {
        background-color: #e5f5fa;
        color: #0487c4;
        border-color: #b7e1f0;
    }
    .k-notification-success {
        background-color: #eaf7ec;
        color: #349946;
        border-color: #c3e8ca;
    }
    .k-notification-warning {
        background-color: #fff4d9;
        color: #8a6d3b;
        border-color: #E4CF8A;
    }
    .k-notification-error {
        background-color: #ffe0d9;
        color: #ef470a;
        border-color: #ffb7a8;
    }
    .title {
        margin: 0;
        font-weight: bold;
        font-size: 15px;
    }
    .close {
        opacity: 0.75;
        cursor: pointer;
        float: right;
        font-size: 18px;
        color: #383838;
        &:hover {
            opacity: 1;
        }
    }
}