<div class="nsp-notification">
    <div class="notification-container" ng-style="{'top': settings.kendoOptions.position.top, 'right': settings.kendoOptions.position.right, 'bottom': settings.kendoOptions.position.bottom, 'left': settings.kendoOptions.position.left}"></div>
    <span kendo-notification="widget" k-options="settings.kendoOptions"></span>
</div>