<div ng-src="DemoController">
    <h1>NSP Core Components</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi deserunt quae porro eius molestias voluptatum consequatur dolores temporibus eos minima ab recusandae reiciendis iste libero quia, facere ipsa unde. Beatae.</p>
</div>