.nsp-grid {
    .toolbar {
        min-height: 28px;
        padding: 0 0 13px 0;
        @include clearfix;
    }
    .refresh-btn {
        display: inline-block;
        padding: 0;
        border: 0;
        background: none;
        font-size: 26px;
        float: right;
        outline: 0;
        color: #a3a3a3;
        margin-right: 4px;
        line-height: 1;
        height: 28px;
        &:hover {
            color: #787878;
        }
        i {
            display: inline-block;
            vertical-align: top;
            margin-top: 1px;
        }
    }
    .toolbar-btn-transparent {
        float: left;
        position: relative;
        display: inline-block;
        vertical-align: top;
        font-size: 13px;
        line-height: 1.8;
        margin: 2px 14px 0 0;
        cursor: pointer;
        outline: 0;
        background: none;
        border: none;
        padding: 0;
        color: rgb(19, 128, 99);
    }
    .k-grid {
        > table {
            table-layout: fixed;
        }
    }
}

// Search
.nsp-grid .search {
    float: right;
    position: relative;
    z-index: 1;
    .k-autocomplete {
        width: 250px;
        &.k-header {
            border-color: #dadada;
        }
        .k-input {
            padding: 0 4px 0 24px;
            height: 26px;
            width: 100%;
            font-size: 12px;
            @include border-box;
        }
        .k-autocomplete .k-loading {
            display: inline-block;
            vertical-align: top;
            position: absolute;
            top: 3px;
            right: 3px;
            z-index: 2;
            cursor: pointer;
        }
    }
    > .k-icon {
        display: inline-block;
        vertical-align: top;
        position: absolute;
        top: 6px;
        left: 6px;
        z-index: 2;
        cursor: pointer;
    }
}

.browse-user-row {
    position: relative;
    height: 35px;
    padding: 3px 0;
    .user-details {
        padding-left: 45px;
        h3 {
            font-size: 13px;
            line-height: 1;
            @include text-overflow;
        }
        p {
            margin: 7px 0 0;
            font-size: 13px;
            line-height: 1;
            @include text-overflow;
        }
    }
    .default-image {
        background-image: url('/Scripts/src/assets/images/image.png');
        background-size: 35px 35px;
    }
    .user-image {
        position: absolute;
        top: 3px;
        left: 0;
        width: 35px;
        height: 35px;
        img {
            width: 35px;
            height: 35px;
        }
    }
}