<div class="toolbar">
    <div class="search">
        <input class="search-input"
               id="{{settings.gridId + 'Search'}}"
               kendo-auto-complete="searchWidget"
               k-options="settings.searchOptions"
               ng-model="settings.searchText"
               ng-keydown="$event.which === 13 && searchGrid()"
               ng-keyup="$event.which === 8 && settings.searchText == '' && clearSearch()"/>
        <a class="k-icon k-i-search" ng-click="searchGrid()"></a>
    </div>
    <button type="button" class="refresh-btn" ng-click="refreshGrid()" title="{{t('Refresh', 'Common.Refresh')}}">
        <i class="f-nsp f-nsp-refresh"></i>
    </button>
    <button type="button" class="reset-filters-btn toolbar-btn-transparent" ng-click="reset()" ng-if="showReset">
        {{t('Reset all filters', 'Common.ResetAllFilters')}}
    </button>
</div>
<div kendo-grid="gridWidget" k-options="settings.gridOptions" id="{{settings.gridId}}" class="grid-container"></div>