.kendo-window {
  padding-top: 37px !important;
  .k-window-titlebar {
    margin-top: -37px !important;
    background-color: #e3e3e3;
    padding: 0;
    border: none;
    border-radius: 0;
    height: 37px;
    .k-window-title {
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
      line-height: 1;
      text-align: center;
      color: #8c8c8c;
      padding: 10px 0;
    }
    .k-window-action.k-state-hover {
      background-color: #e3e3e3;
      border: 1px solid #e3e3e3;
    }
  }
  .k-window-content {
    padding: 25px;
    background-color: #fafafa;
    border-radius: 0;
    .dynamic-grid-delete-window {
      p {
        margin-top: 0;
      }
      .btn {
        border-radius: 0;
      }
    }
  }
}

.k-overlay.force-display {
  display: block !important;
  visibility: visible !important;
  transition: none !important;
}