<div class="dynamic-grid-delete-window" delete-window>
    <p>{{message}}</p>
    <button class="btn btn-primary" ng-click="delete()">{{confirmButtonText}}</button>
    <button class="btn btn-primary" ng-click="cancel()">{{cancelButtonText}}</button>
</div>