<div class="entity-property ep-type-{{propertyType}}">
  <div class="value">
      <div ng-if="options.value" class="check-box-checked"></div>
      <div ng-if="!options.value" class="check-box-unchecked"></div>  
      <i class="f-nsp" ng-class="{'f-nsp-checked': options.value, 'f-nsp-unchecked': !options.value}"></i>
      <span class="option-label">
        {{options.labelKey ? t(options.label, options.labelKey) : options.label}}
      </span>
  </div>
</div>