<div class="entity-property ep-type-{{propertyType}}">
  <div ng-if="options.label" class="label">
    {{options.labelKey ? t(options.label, options.labelKey) : options.label}}
  </div>
  <div class="value">
    <div ng-repeat="item in options.value">
      <div ng-if="item.Value" class="check-box-checked"></div>
      <div ng-if="!item.Value" class="check-box-unchecked"></div>
      <i class="f-nsp" ng-class="{'f-nsp-checked': item.Value, 'f-nsp-unchecked': !item.Value}"></i>
      <span>{{t(item.Title, item.TitleKey)}}</span>
    </div>
  </div>
</div>