<div class="entity-property ep-type-{{propertyType}}">
    <div ng-if="options.label" class="label">
        {{options.labelKey ? t(options.label, options.labelKey) : options.label}}
    </div>
    <div class="value" nsp-core-text-pane-popup-images>
        <img ng-if="options.value" ng-src="{{options.value}}" alt="{{options.label}}">
        <span ng-if="!options.value">-</span>
    </div>
</div>