<div class="entity-property ep-type-{{propertyType}}">
    <div ng-if="options.label" class="label">
        {{options.labelKey ? t(options.label, options.labelKey) : options.label}}
    </div>
    <div class="value" ng-bind-html="trustHtml(options.value) || '-'" nsp-core-text-pane-popup-images></div>
</div>