<div class="entity-property ep-type-{{propertyType}}">
    <div ng-if="options.label" class="label">
        {{options.labelKey ? t(options.label, options.labelKey) : options.label}}
    </div>
    <div class="value">
        <span>{{options.value ? options.value : '-'}}</span>
    </div>
</div>