/*
 * Mixins
 */

// Clearfix
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// Box Sizing
@mixin border-box() {
  &,
  & *,
  & *:after,
  & *:before {
    box-sizing: border-box;
  }
}

/* ==========================================================================
    Media Queries
============================================================================= */

@mixin breakpoint-below($breakpoint) {
  @media all and (max-width: $breakpoint + px) { @content; }
}

@mixin breakpoint-above($breakpoint) {
  @media all and (min-width: $breakpoint + px) { @content; }
}

/**
 * No User Select
 */

@mixin no-user-select() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

@mixin text-overflow() {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}