﻿ // Clearfix
 @mixin clearfix() {
     &:before,
     &:after {
         content: "";
         display: table;
     }
     &:after {
         clear: both;
     }
 }
/**
 * Comments Form
 */
.comments-form {
    min-height: 285px;
    margin: 0 0 10px;
    .form-item {
        padding: 0;
    }
    .k-editor-toolbar {
        background: none;
    }
    .k-editor-toolbar {
        .k-combobox .k-dropdown-wrap {
          background: #fff;
          border: 1px solid #dadada;
          height: 30px;
          padding: 0 5px 1px;
          font-size: 14px;
          outline: 0;
          line-height: normal;
          > .k-input {
            padding: 2px 20px 2px 0;
            height: auto;
          }
          &.k-state-focused > .k-input {
            outline: 0;
            box-shadow: none;
          }
        }
        .k-tool-group {
            margin-bottom: 5px;
            padding: 0;
            &.timer-tool {
                float: right;
                margin: -2px 0 5px;
            }
        }
        .k-group-end {
            margin-right: 0;
        }
        .btn-default {
            padding: 8px 15px 8px;
            outline: 0;
            box-shadow: none;
        }
        .k-widget.k-dropdown {
            height: auto;
            vertical-align: top;
            .k-dropdown-wrap.k-state-focused {
                background: #fff !important;
            }
            .k-input {
                padding: 7px 25px 7px 5px;
                line-height: 1;
                height: auto;
            }
        }
    }
    .form-actions {
        padding-top: 5px;
        position: relative;
        z-index: 1;
        .btn {
            float: none;
            display: inline-block;
            vertical-align: top;
            margin-right: 2px;
            &:active {
                background: #f2f2f2;
            }
        }
        .separator {
            display: inline-block;
            vertical-align: top;
            margin: 8px 5px 0 3px;
            line-height: 1;
        }
    }
    .comment-mark {
        background: #fff;
        border: 1px solid #dadada;
        outline: 0;
        padding: 5px 7px;
        line-height: 1;
        display: inline-block;
        vertical-align: top;
        margin-top: 3px;
        min-width: 30px;
        text-align: center;
        &:hover {
            background: #f2f2f2;
        }
        &.active {
            color: #fff;
            background: #787878;
            border-color: #787878;
            &:active {
                background: #787878;
            }
        }
    }
    .comment-mark-info {
        display: inline-block;
        vertical-align: top;
        margin-top: 7px;
        line-height: 1.2;
    }
    .file-drop {
        float: right;
        margin: -10px 0 20px;
        text-align: right;
        .btn-select {
            background: none;
            border: 0;
            padding: 0;
            color: #5994bb;
            outline: 0;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 10px;
        }
        .files {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                margin: 0;
                display: block;
                line-height: 1;
                margin-bottom: 5px;
            }
            li > span {
                display: inline-block;
                vertical-align: top;
                padding: 6px 8px;
                border-radius: 4px;
                background: #f2f2f2;
            }
        }
        .btn-remove {
            display: inline-block;
            vertical-align: top;
            background: none;
            border: 0;
            outline: 0;
            font-size: 15px;
            cursor: pointer;
            padding: 0;
            margin: -1px 0 -2px 2px;
        }
    }
}

// Comment Timer
.comment-timer {
    label {
        display: inline-block;
        vertical-align: top;
        padding-right: 5px;
        margin-top: 7px;
    }
    .btn {
        min-width: 62px;
        display: inline-block;
        vertical-align: top;
        margin-right: 3px;
    }
    input {
        background: #fff;
        border: 1px solid #dadada;
        height: 32px;
        padding: 0 5px 1px;
        font-size: 14px;
        outline: 0;
        background: none !important;
        width: 56px;
        &.ng-invalid {
            border-color: #ff4136;
        }
    }
}

/**
 * Comments List
 */
.comments-list {
    margin: 10px 0 0;
    padding-bottom: 20px;
    .heading {
        @include clearfix;
    }
    > .list {
        margin: 0;
        padding: 0;
        list-style: none;
        .heading {
            margin-bottom: 22px;
        }
        > li {
            margin: 0 0 10px;
            padding: 10px 10px 5px 52px;
            list-style: none;
            border: 1px solid #dadada;
            background: #fff;
            position: relative;
            &.marked-as-public {
                border-color: #ffeba8;
            }
            &.marked-as-private {
                background: #fff6d9;
                border-color: #E4CF8A;
            }
            &.marked-as-solution {
                background: #EEF6F4;
                border-color: #96C6B9;
            }
            &.marked-as-workaround {
                background: #F0F5FF;
                border-color: #9093B7;
            }
        }
    }
    .inner {
        @include clearfix;
    }
    .aside {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 42px;
        padding: 0 10px 0 0;
        z-index: 1;
    }
    .avatar {
        max-width: 100%;
        margin-bottom: 5px;
    }
    .heading {
        margin-bottom: 10px;
    }
    .author {
        font-size: 13px;
        color: #787878;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .time-spent {
        font-weight: normal;
        font-style: italic;
    }
    .source-icon {
        color: #999999;
        font-size: 13px;
        display: inline-block;
        vertical-align: top;
        margin: 0 5px 0 0;
    }
    .date {
        margin: 0;
        font-size: 13px;
        color: rgb(153, 153, 153);
    }
    .comment {
        line-height: 1.2;
        min-height: 25px;
        overflow: auto;
        margin: 0 10px -5px 0;
        word-break: break-word;
        img {
            max-width: 100%;
        }
    }
    .comment-actions {
        float: right;
        .btn {
            border: 0;
            background: none;
            display: inline-block;
            vertical-align: top;
            outline: 0;
            padding: 0;
            margin-right: 4px;
            min-width: 15px;
            text-align: center;
            &:last-child {
                margin-right: 0;
            }
        }
        .btn-like {
            color: #787878;
            .count {
                font-size: 12px;
                font-weight: bold;
            }
            i {
                opacity: 0.3;
                font-weight: normal;
            }
            &:hover {
                i {
                    opacity: 0.6;
                }
            }
            &.active {
                cursor: default;
                i {
                    opacity: 1;
                }
            }
        }
    }
    .collapsed .comment {
        overflow: hidden;
        height: 25px;
    }
    .collapser {
        width: 100%;
        display: block;
        text-align: center;
        cursor: pointer;
        font-size: 16px;
    }
    .collapse-all {
        display: inline-block;
        vertical-align: top;
        background: none;
        border: 0;
        padding: 0;
        outline: 0;
        margin: 5px 0 10px;
    }
    .comments-search {        
        float: right;
        position: relative;
        input {
            background: #fff;
            border: 1px solid #dadada;
            height: 28px;
            padding: 0 10px 2px 28px;
            font-size: 14px;
            outline: 0;
            background: #fff;
            width: 300px;
            font-size: 13px;
        }
        .btn {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
            text-align: center;
            width: 28px;
            border: 0;
            background: none;
            outline: 0;
            padding: 0;
            display: block;
            i {
                display: inline-block;
                vertical-align: top;
                margin-top: 1px;
            }
        }
    }
    .comment-filters {
        float: right;
        margin-left: 20px;
        @include clearfix;
        .btn {
            background: #fff;
            border: 1px solid #dadada;
            outline: 0;
            padding: 5px 7px;
            line-height: 1;
            display: inline-block;
            vertical-align: top;
            min-width: 30px;
            text-align: center;
            position: relative;
            float: none;
            margin-right: 6px;
            float: left;
            color: #787878;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                background: #f2f2f2;
            }
            &.active {
                color: #fff;
                background: #787878;
                border-color: #787878;
                &:active {
                    background: #787878;
                }
            }
        }
        .count {
            position: absolute;
            top: -13px;
            right: -12px;
            z-index: 1;
            background: #909090;
            border-radius: 4px;
            text-align: center;
            padding: 4px 5px;
            font-size: 1px;
            font-size: 12px;
            color: #fff;
            min-width: 20px;
            line-height: 1;
        }
    }
    .attachments {
        margin: 0 0 5px;
        padding: 0;
        list-style: none;
        float: right;
        @include clearfix;
        li {
            margin: 0;
            padding: 0;
            float: left;
            list-style: none;
            width: 30px;
            height: 30px;
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            text-decoration: none;
            display: block;
            &:hover {
                outline: 1px solid #138063;
            }
        }
        img {
            max-width: 100%;
            vertical-align: top;
            width: 30px;
            height: 30px;
        }
    }
}
.mailing-form{
    margin: 0 0 5px;
    padding: 0;
    list-style: none;
    float: right;
    @include clearfix;
    li {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
        width: 30px;
        height: 30px;
        margin-right: 5px;
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        text-decoration: none;
        display: block;
        &:hover {
            outline: 1px solid #138063;
        }
    }
    img {
        max-width: 100%;
        vertical-align: top;
        width: 30px;
        height: 30px;
    }
}
