﻿<div class="comments-form">
    <form sf-schema="schema"
        sf-form="form"
        sf-model="model"
        name="{{formId}}"
        id="{{formId}}"
        ng-submit="onCommentSubmit()"
        autocomplete="false"
        class="form-engine">
    </form>
    <div class="form-actions">
        <div file-drop
             file-drop-options="settings.uploadAttachmentsOptions"
             class="file-drop"
             ng-model="newComment.attachments"
             ng-if="settings.uploadAttachmentsOptions"></div>
        <button class="btn btn-default comment-mark" ng-click="newCommentMark('public')" ng-class="{active: newComment.isPublic}" title="{{t('Change to public comment', 'PublicReply')}}" ng-if="settings.publicMark">
            <i class="icon-users"></i>
        </button>
        <button class="btn btn-default comment-mark" ng-click="newCommentMark('private')" ng-class="{active: newComment.isPrivate}" title="{{t('Change to internal comment','InternalNote')}}" ng-if="settings.privateMark">
            <i class="icon-user"></i>
        </button>
        <button class="btn btn-default comment-mark" ng-click="newCommentMark('solution')" ng-class="{active: newComment.isSolution}" ng-if="settings.solutionMark" title="{{t('Mark as a Solution', 'MarkAsASolution')}}">
            <i class="icon-lamp"></i>
        </button>
        <button class="btn btn-default comment-mark" ng-click="newCommentMark('workaround')" ng-class="{active: newComment.isWorkaround}" ng-if="settings.workaroundMark" title="{{t('Mark as a Workaround', 'MarkAsAWorkaround')}}">
            <i class="icon-loop"></i>
        </button>
        <span class="separator" ng-hide="!settings.privateMark && !settings.publicMark">|</span>
        <button class="btn btn-default" ng-click="onCommentSubmit()">
            {{t('Save comment', 'Common.SaveComment')}}
        </button>
        <span class="separator">|</span>
        <span class="comment-mark-info" ng-if="newComment.isPublic" ng-if="settings.publicMark">
            {{t("Your comment will be sent as a public reply", "PublicReplyCommentDescription")}}
        </span>
        <span class="comment-mark-info" ng-if="newComment.isPrivate" ng-if="settings.privateMark">
            {{t("Your comment will be sent as an internal note", "InternalReplyCommentDescription")}}
        </span>
        <span class="separator">|</span>
        <span class="comment-mark-info" ng-if="newComment.isSolution" ng-if="settings.solutionMark">
            {{t("Your comment will be marked as solution", "SolutionReplyCommentDescription")}}
        </span>
        <span class="comment-mark-info" ng-if="newComment.isWorkaround" ng-if="settings.workaroundMark">
            {{t("Your comment will be marked as workaround", "WorkaroundReplyCommentDescription")}}
        </span>
    </div>
</div>