﻿<div class="comments-list" ng-if="commentsList.length">
    <div class="heading">
        <div class="comment-filters">
            <button class="btn btn-default comment-mark" title="{{t('Show solution comments only', 'ShowSolutionCommentsOnly')}}" ng-class="{active: activeMarkFilter === 'solution'}" ng-click="markFilter('solution')" ng-if="countComments('solution')">
                <i class="icon-lamp"></i>
                <span class="count">{{countComments('solution')}}</span>
            </button>
            <button class="btn btn-default comment-mark" title="{{t('Show workaround comments only', 'ShowWorkaroundCommentsOnly')}}" ng-click="markFilter('workaround')" ng-class="{active: activeMarkFilter === 'workaround'}" ng-if="countComments('workaround')">
                <i class="icon-loop"></i>
                <span class="count">{{countComments('workaround')}}</span>
            </button>
            <button class="btn btn-default comment-mark" title="{{t('Show attachment comments only', 'ShowAttachmentCommentsOnly')}}" ng-click="markFilter('attachments')" ng-class="{active: activeMarkFilter === 'attachments'}" ng-if="countComments('attachments')">
                <i class="icon-attach"></i>
                <span class="count">{{countComments('attachments')}}</span>
            </button>
            <button class="btn btn-default comment-mark" title="{{t('Comments', 'Common.Comments')}}" ng-click="markFilter('all')"  ng-class="{active: activeMarkFilter === 'all'}">
                <i class="icon-comment"></i>
                <span class="count">{{countComments('all')}}</span>
            </button>
        </div>
        <div class="comments-search">
            <input class="comments-search" type="text" ng-model="searchValue" placeholder="{{t('Search comment', 'SearchComment')}}...">
            <button class="btn">
                <i class="k-icon k-i-search"></i>
            </button>
        </div>
        <button class="btn collapse-all" ng-click="collapseToggleAll()">
            <i ng-class="{'icon-plus-squared': allCollapsed, 'icon-minus-squared': !allCollapsed}"></i>
            {{allCollapsed ? t('Expand all', 'ExpandAll') : t('Collapse all', 'CollapseAll')}}
        </button>
    </div>
    <ul class="list">
        <li ng-repeat="item in commentsList | filterComments:searchValue:activeMarkFilter"
            ng-class="{'marked-as-public':item.isPublic, 'marked-as-private':item.isPrivate, 'marked-as-solution':item.isSolution, 'marked-as-workaround':item.isWorkaround, 'collapsed':item.collapsed}">
            <div class="aside">
                <img ng-src="{{item.avatar}}" alt="User image" ng-if="item.avatar" class="avatar">
                <span class="collapser" ng-click="collapseToggle(item.id)" ng-class="{'f-nsp f-nsp-angle-down':!item.collapsed, 'f-nsp f-nsp-angle-right':item.collapsed}"></span>
            </div>
            <div class="inner">
                <div class="heading">
                    <div class="comment-actions">
                        <button class="btn" ng-if="settings.sendMail" ng-click="sendEmail(item)" title="{{t('SendMail','Common.SendEmail')}}">
                            <i class="icon-mail"></i>
                        </button>
                        <button class="btn" ng-if="settings.solutionMark" ng-click="mapArticle(item)" title="{{t('CreateArticle','Common.CreateArticle')}}">
                            <i class="f-nsp f-nsp-knowledge-base"></i>
                        </button>
                        <button class="btn btn-like" ng-click="likeComment(item.id)" ng-class="{'active': item.isLiked}">
                            <i class="f-nsp f-nsp-support"></i> <span class="count">{{item.likes}}</span>
                        </button>
                        <button class="btn" ng-if="settings.solutionMark && !item.isSolution && !item.isWorkaround" ng-click="changeCommentMark(item.id, 'solution')" title="{{t('Mark as a Solution', 'MarkAsASolution')}}">
                            <i class="icon-lamp"></i>
                        </button>
                        <button class="btn" ng-if="settings.workaroundMark && !item.isSolution && !item.isWorkaround" ng-click="changeCommentMark(item.id, 'workaround')" title="{{t('Mark as a Workaround', 'MarkAsAWorkaround')}}">
                            <i class="icon-loop"></i>
                        </button>
                        <button class="btn" ng-if="settings.solutionMark && item.isSolution" ng-click="changeCommentMark(item.id, 'solution')" title="{{t('Not a Solution', 'NotASolution')}}">
                            <i class="icon-block"></i>
                        </button>
                        <button class="btn" ng-if="settings.workaroundMark && item.isWorkaround" ng-click="changeCommentMark(item.id, 'workaround')" title="{{t('Not a Workaround', 'NotAWorkaround')}}">
                            <i class="icon-block"></i>
                        </button>
                        <button class="btn" ng-if="settings.publicMark && item.isPrivate" ng-click="changeCommentMark(item.id, 'public')" title="{{t('Change to public comment', 'PublicReply')}}">
                            <i class="icon-users"></i>
                        </button>
                        <button class="btn" ng-if="settings.privateMark && item.isPublic" ng-click="changeCommentMark(item.id, 'private')" title="{{t('Change to internal comment','InternalNote')}}">
                            <i class="icon-user"></i>
                        </button>
                        <span class="date">{{timeAgo(item.createdDate, 'g')}}</span>
                    </div>
                    <div class="author">
                        <span class="source-icon" ng-class="item.sourceIcon"></span>
                        {{item.author}}
                        <span class="time-spent" ng-if="settings.timeSpent !== false">({{t('Time spent', 'Common.TimeSpent')}}: {{formatTimeSpent(item.timeSpent)}})</span>
                    </div>
                </div>
                <div class="comment" ng-bind-html="item.comment" text-pane-popup-images></div>
                <ul class="attachments" ng-if="item.attachments">
                    <li ng-repeat="attachment in item.attachments" title={{attachment.fileName}}>
                        <a href="#" ng-click="downloadAttachment(attachment)">
                            <img ng-src="{{attachmentImageSrc(attachment)}}" alt="{{attachment.fileName}}">
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>