﻿<ul class="mailing-form">
    <li ng-repeat="attachment in items" title={{attachment.fileName}}>
        <a href="#" ng-click="downloadAttachment(attachment)">
            <img ng-src="{{attachmentImageSrc(attachment)}}" alt="{{attachment.fileName}}">
        </a>
    </li>
</ul>