﻿<!-- TODO: Localization -->
<div ng-form name="timerForm">
    <label>{{t('Timer', 'Common.Timer')}}:</label>
    <button ng-click="toggle($event)" class="btn btn-default">{{toggleBtnText}}</button>
    <input name="timerInput"
           type="text"
           placeholder="hh:mm"
           ng-model="timerInput"
           ng-pattern="timerPattern"
           ng-change="inputChanged()"
           ng-focus="timerInputFocus()"
           ng-blur="timerInputBlur()">
</div>
