﻿<div ng-controller="NspSendEmailCommentController" kendo-window-content>
    <form sf-schema="schema"
          sf-form="form"
          sf-model="model"
          name="{{formId}}"
          id="{{formId}}"
          ng-submit="onSubmit()"
          autocomplete="false"
          class="form-engine add-edit-window">
    </form>
   
    <div nsp-comment-attachments-list comment-attachments-list-items="dialogData.comment.attachments" ng-if="dialogData.comment.attachments"></div>
     

</div> 