.entity-property-popup {
  .view {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #000;
  }
  .map {
    position: relative;
    float: right;
    .map-canvas {
      width: 100%;
      height: 100%;
    }
    .address-details {
      width: 160px;
      background-color: rgba(255,255,255,0.9);
      position: absolute;
      left: 20px;
      bottom: 20px;
      padding: 15px;
      box-sizing: border-box;
    }
    .address-details p {
      margin: 0 0 5px;
    }
    .address-details ul li {
      width: 130px;
    }
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 10px 0 0;
    li {
      font-size: 12px;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .basic {
    p {
      font-size: 13px;
      line-height: 1;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 0 5px;
    }
    div {
      font-size: 13px;
      line-height: 1;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    div ul {
      margin: 0;
    }
  }
  .user-view,
  .vendor-view {
    .info {
      position: relative;
      width: 50%;
      height: 100%;
      float: left;
      padding: 20px;
      background-image: url('/Scripts/src/assets/images/logo-transparent.png');
      background-repeat: no-repeat;
      background-position: right;
      box-sizing: border-box;
      .details {
        position: absolute;
        left: 20px;
        bottom: 20px;
        right: 20px;
      }
      .details p {
        font-size: 13px;
        line-height: 1;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 0 3px;
        color: #787878;
      }
      .details ul {
        margin: 0;
      }
    }
    .map {
      width: 50%;
      height: 100%;
    }
  }

  .no-location {
    background-image: url('/Scripts/src/assets/images/location2.png');
    background-repeat: no-repeat;
    z-index: 9999;
    .no-location-info {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      height: 100px;
      min-width: 100px;
      background-color: #138063;
      border-radius: 50%;
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
    }
    .no-location-info p {
      margin: 0;
      color: #fff;
    }
  }
  
  .location-view {
    .map {
      width: 100%;
      height: 100%;
    }
    .no-location {
      background-image: url('/Scripts/src/assets/images/location1.png');
    }
  }

  .product-view {
    padding: 20px;
    .additional-info {
      position: absolute;
      right: 20px;
      bottom: 20px;
      left: 20px;
      .product-details {
        width: 600px;
        float: left;
        font-size: 14px;
        line-height: 1;
        table {
          width: 100%;
          color: #9c9c9c;
          border-top: 1px solid #f0f0f0;
          tr:nth-child(even) {
            background-color: #f7f7f7;
          }
          td {
            padding: 15px 0;
          }
        }
      }
      .code {
        width: 130px;
        overflow: hidden;
        float: right;
        .barcode {
          float: left;
          padding: 0;
        }
        .qr-code {
          margin: -3px 0 7px;
          padding: 0 20px;
        }
      }  
    }  
  }
}