<div ng-controller="EntityPropertyPopupController">
    <div ng-if="data" class="view user-view">
        <div class="info">
            <div class="basic">
                <p><b>{{data.firstName}} {{data.lastName}}</b></p>
                <p><b><i>{{data.personTitle}}</i></b></p>   
            </div>
            <div class="details">
                <ul class="contact-details">
                    <li ng-if="data.mail">{{data.mail}}</li>
                    <li ng-if="data.phone">{{data.phone}}</li>
                </ul>
                <ul class="department-details">
                    <li ng-if="data.department">{{data.department}}</li>
                    <li ng-if="data.jobTitle">{{data.jobTitle}}</li>
                    <li ng-if="data.birthDate">{{data.birthDate}}</li>
                </ul>
            </div>
        </div>
        <div class="map" ng-class="{'no-location': !data.location}">
            <div ng-if="!data.location" class="no-location-info">
                <p>{{t('No', 'Common.No')}}<br>{{t('Location', 'Common.Location')}}<br>{{t('Found', 'Common.Found')}}</p>
            </div>
            <div class="map-canvas" id="map-canvas"></div>
            <div class="address-details" ng-if="data.address || data.city || data.zip || data.country || data.countyCode">
                <p class="list-title"><b>{{t('Address', 'Common.Address')}}:</b></p>
                <ul>
                    <li ng-if="data.address">{{data.address}}</li>
                    <li ng-if="data.city">{{data.city}}</li>
                    <li ng-if="data.zip">{{data.zip}}</li>
                    <li ng-if="data.country">{{data.country}}</li>
                    <li ng-if="data.countryCode">{{data.countryCode}}</li>
                </ul>
            </div>
        </div>
    </div>   
</div>
