<div ng-controller="EntityPropertyPopupController">
    <div ng-if="data" class="view product-view">
        <div class="basic">
            <p><b>{{data.name}}</b></p>
            <div ng-bind-html="trustHtml(data.description) || '-'"></div>
        </div>
        <div class="additional-info">
            <div class="product-details">
                <table>
                    <tr ng-if="data.ciTypeName">
                        <td>{{t('CI Type', 'Common.CIType')}}</td>
                        <td>{{data.ciTypeName}}</td>
                    </tr>
                    <tr ng-if="data.manufacturerName">
                        <td>{{t('Manufacturer', 'Common.Manufacturer')}}</td>
                        <td>{{data.manufacturerName}}</td>
                    </tr>
                    <tr ng-if="data.depreciationTypeName">
                        <td>{{t('Depreciation Model', 'Common.DepreciationModel')}}</td>
                        <td>{{data.depreciationTypeName}}</td>
                    </tr>
                </table>
            </div>
            <div class="code">
                <div ng-if="qrcode" class="qr-code">
                    <span kendo-qrcode
                          k-error-correction="'M'"
                          ng-model="qrcode"
                          k-size="90"></span>
                </div>
                <div ng-if="data.codeString && data.codeType" class="barcode">
                    <span kendo-barcode
                          k-type="data.codeType"
                          ng-model="data.codeString"
                          k-height="60"
                          k-width="130"></span>
                </div>
            </div>
        </div>
    </div>
</div>
