<div ng-controller="EntityPropertyPopupController">
    <div ng-if="data" class="view vendor-view">
        <div class="info">
            <div class="basic">
                <p><b>{{data.name}}</b></p>
                <div ng-bind-html="trustHtml(data.description) || '-'"></div>
            </div>
            <div class="details">
                <p><b>{{t('Contact', 'Common.Contact')}}:</b></p>
                <ul>
                    <li ng-if="data.contactPerson"><b>{{data.contactPerson}}</b></li>
                    <li ng-if="data.phone">{{data.phone}}</li>
                    <li ng-if="data.fax">{{data.fax}}</li>
                    <li ng-if="data.mobile">{{data.mobile}}</li>
                    <li ng-if="data.mail">{{data.mail}}</li>
                </ul>
            </div>
        </div>
        <div class="map" ng-class="{'no-location':!data.location}">
            <div ng-if="!data.location" class="no-location-info">
                <p>{{t('No', 'Common.No')}}<br>{{t('Location', 'Common.Location')}}<br>{{t('Found', 'Common.Found')}}</p>
            </div> 
            <div class="map-canvas" id="map-canvas"></div>
            <div class="address-details">
                <p class="list-title"><b>{{t('Address', 'Common.Address')}}:</b></p>
                <ul>
                    <li ng-if="data.address">{{data.address}}</li>
                    <li ng-if="data.city">{{data.city}}</li>
                    <li ng-if="data.zip">{{data.zip}}</li>
                    <li ng-if="data.country">{{data.country}}</li>
                    <li ng-if="data.countryCode">{{data.countryCode}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
