.entity-properties {
    .inline-items {
        display: inline-block;
        width: 25%;
        vertical-align: top;
    }
    
    /**
     * Default css
     */
    .entity-property {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0 15px 12px;
        list-style: none;
        box-sizing: border-box;
        > div {
            display: block;
            padding: 0 4px;
            font-size: 13px;
            word-break: break-word;
            overflow: hidden;
        }
        .label {
            color: #bababa;
            margin-bottom: 2px;
        }
        .value, .option-label {
           color: #000;
        }
        .value ul,
        .value ol {
            margin: 7px 0;
            padding-left: 40px;
        }
        .f-nsp {
            color: #bababa;
        }
    }

    /**
     * Check boxes
     */
    .ep-type-check-boxes,
    .ep-type-radio-button {
        .value .check-box-checked,
        .value .check-box-unchecked,
        .value .radio-button-checked,
        .value .radio-button-unchecked {
            display: none;
        }
        .value .f-nsp {
            font-size: 21px;
            margin: 0 0 -2px -2px;
        }
    }

    /**
     * Check box
     */
    .ep-type-check-box {
        .check-box-checked,
        .check-box-unchecked {
            display: none;
        }
        .f-nsp {
            font-size: 21px;
            margin: 0 0 -2px -2px;
        }
    }

    /**
     * Popup
     */
    .ep-type-popup {
        .link {
            cursor: pointer;
            color: #2395c0;
        }
    }

    /**
     * Image
     */
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.entity-properties.comment-entity-properties {
    .entity-property {
        padding: 0 0 12px;
        > div {
            padding: 0;
        }
        .label {
            color: #000;
            font-weight: bold;
        }
    }

    .ep-type-check-box,
    .ep-type-check-boxes {
        .check-box-checked {
            display: inline-block;
            background-image: url('/Scripts/src/assets/images/check-box-checked.png');
            background-repeat: no-repeat;
            width: 17px;
            height: 15px;
            margin-right: 5px;
        }
        .check-box-unchecked {
            display: inline-block;
            background-image: url('/Scripts/src/assets/images/check-box-unchecked.png');
            background-repeat: no-repeat;
            width: 17px;
            height: 15px;
            margin-right: 5px;
        }
        .f-nsp {
            display: none;
        }
    }

    .ep-type-radio-button {
        .radio-button-checked {
            display: inline-block;
            background-image: url('/Scripts/src/assets/images/radio-button-checked.png');
            background-repeat: no-repeat;
            width: 17px;
            height: 16px;
            margin-right: 5px;
        }
        .radio-button-unchecked {
            display: inline-block;
            background-image: url('/Scripts/src/assets/images/radio-button-unchecked.png');
            background-repeat: no-repeat;
            width: 17px;
            height: 16px;
            margin-right: 5px;
        }
        .f-nsp {
            display: none;
        }
        .option-label {
            vertical-align: top;
        }
    }
}